@media screen and (min-width: 220px)
{
    body, body *
    {
        font-family: 'Tahoma', 'Segoe UI', 'Geneva', 'Verdana', sans-serif;
        font-size: 12pt;
        box-sizing: border-box;
        list-style: none;
        margin:0;
        padding:0;
        transition: scroll, 0.4s;
        -moz-transition: scroll, 0.4s;
        text-decoration: none;
        color: #eee;
    }

    body
    {
        background:#666;
        overflow: hidden;
    }

   

    #slotMenu
    {
        position:fixed;
        width:100%;
        max-height: 30%;
        height: 2rem;
        bottom:0;
        text-align:center;
        overflow: hidden;
        background:#333;
        color:#eee;
        transition: height, 0.6s;
        z-index: 9;
    }

    #slotMenu:hover
    {
        height:100%;
    }

    #slotMenu:hover p sup
    {
        transform: rotateX(180deg);
    }

    #slotMenu p
    {
        background: #222;
        height:2rem;
        padding: 0;
        overflow:hidden;
        transition: transform, 0.4s;
    }

    #slotMenu p sup
    {
        position:absolute;
        width:100%;
        top:0;
        left:0;
        font-size:150%;
        transition: transform, 0.4s;
    }

    #menu
    {
        padding-top:0.2rem;
        text-align:center;
        z-index: 9;
    }

    #menu li
    {
        width:80%;
        margin: 1% 0 0 10%;
        padding: 0.5rem 0;
        background: #444;
        border: 0.1rem solid #333;
        cursor:pointer;
    }

    #cPrincipal
    {
        position: absolute;
        width:100%;
        height:96%;
        top: 0;
        left: 0;
        border: 1px solid #0ff;
        overflow: auto;
        transition: all, 0.4s;
        z-index:5;
        padding-bottom: 0.5rem;
    }

    .blocoPagina
    {
        width: 96%;
        height: 96%;
        margin: 4% 0 0 2%;
        padding: 0.5rem 0.2rem;
        border:1px solid #ff0;
    }
}

@media screen and (min-width: 950px)
{
    body
    {
        overflow: hidden;
    }

    #cPrincipal
    {
        overflow: auto;
    }

    #slotMenu
    {

    }
}