/*
	Atratis Comunicação Digital - www.atratis.com.br
	Projeto: Delivery English
	Sobre: Folha de Estilo para estrutura geral do site.
*/

body{
	background: #f1f1f1;
}

.geral{
	margin: 0 auto;
	width: 960px;
}

/* Topo */

	.topo{
		overflow: hidden;
		height: 140px;
	}

	h1 a{
		background: url("../images/logo-delivery-english.gif") 0 0 no-repeat;
		width: 175px /* Largura */ ;
		height: 78px /* Altura */ ;
		overflow: hidden;
		display: block;
		text-indent: -9999px;
		float: left;
		margin: 35px 0 35px 20px;
	}
	
	.pesquisa{
		margin: 15px 0 40px;
	}
	
		.pesquisa fieldset{
			border: none;
			position: relative;
		}
		
		.pesquisa #pesquisa{
			border: none;
			border-bottom: 1px solid #dcdee0;
			background: none;
			padding: 8px 0;
			padding-right: 36px;
		}
		
			.pesquisa #pesquisa:hover,
			.pesquisa #pesquisa:focus{
				border-bottom-color: #005DAB;
				color: #005DAB;
			}
		
		.pesquisa input[type=submit]{
			background: url(../images/ico/ico-pesquisa.png) center 6px no-repeat;
			width: 28px;
			height: 28px;
			border: none;
			text-indent: -9999px;
			overflow: hidden;
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 5px;
			text-transform: uppercase;
		}
		
			.pesquisa input[type=submit]:hover,
			.pesquisa input[type=submit]:focus{
				background-position: center -44px;
			}
	
	/* MENU */
	
	.menu{
		float: right;
	}
	
		.menu ul, .menu li{
			margin: 0;
			padding: 0;
		}
		
			.menu li{
				display: inline;
				list-style-type: none;
                position: relative;
                z-index: 10px;
			}
		
				.menu a{
					display: block;
					float: left;
					font-size: 13px;
					text-decoration: none;
					color: #646464;
					text-transform: uppercase;
					font-size: 12px;
					padding: 3px 12px;
					margin-left: 10px;
				}
				
					.menu a.active{
						background: #005dab;
					}
					
					.menu a:hover,
					.menu a:focus{
						background: #037de4;
					}
				
					.menu a:hover,
					.menu a:focus,
					.menu a.active{
						color: #dde4ec;
						border-radius: 4px;
						-moz-border-radius: 4px;
						-o-border-radius: 4px;
						-webkit-border-radius: 4px;
					}
				
					/* Submenu */
				
					.menu li ul{
						position: absolute;
						top: 40px;
                        z-index: 10;
						right: -99999px; /* Não usar 'display: none' porque os links não se tornam acessíveis por <tab> no teclado */
					}
					
						.menu li:hover ul{
							right: 0 !important; /* Tira o recuo do menu e o faz aparecer */
						}
/* 
	Destaques
*/

.destaque{
	padding: 30px 20px 10px;
	border-bottom: 1px solid #d6dee7;
	box-shadow: 0px 1px 0px #f4f4f4;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}

	.destaque h2{
		color: #015cab;
		text-transform: uppercase;
		overflow: hidden;
		font-size: 20px;
		font-weight: 300;
		line-height: 22px;
	}
	
		.destaque h2 span{ font-weight: bold; }
	
	.destaque h2 + p{
		color: #64717a;
	}
	
		.destaque h2,
		.destaque p{
			width: 350px;
		}
			
	.destaque ul{
		float: left;
		margin-left: 30px;
	}
	
		.destaque li{
			float: left;
			width: 125px;
			list-style-type: none;
			text-align: center;
		}
		
			.destaque li a{
				text-decoration: none;
			}
		
			.destaque li a{
				display: block;
				text-decoration: none;
				text-align: center;
				color: #7a8394;
				text-transform: uppercase;
				font-size: 12px;
				background-repeat: no-repeat;
				background-position: center 10px;
				padding: 65px 0 20px;
				text-align: center;
				height: 40px;
				-webkit-transition: background-position 400ms ease-out;
				-moz-transition: background-position 400ms ease-out;
				-o-transition: background-position 400ms ease-out;
			}	
			
				.destaque li.traducao a{
					background-image: url(../images/ico/ico-traducaoo.png);
				}
				
				.destaque li.company a{
					background-image: url(../images/ico/ico-company.png);
				}
				
				.destaque li.interprete a{
					background-image: url(../images/ico/ico-interprete.png);
				}
				
				.destaque li a:hover,
				.destaque li a:focus{
					background-position: center 0px;
					-webkit-transition: background-position 200ms ease-in;
					-moz-transition: background-position 200ms ease-in;
					-o-transition: background-position 200ms ease-in;
					color: #c54451;
				}
			
			.destaque li span{
				display: block;
				width: 85px;
				text-align: center;
				padding: 0 20px;
			}
			
			.destaque p.mais{
				position: absolute;
				right: 30px;
				top: 45px;
				margin: 0;
				width: auto;
				background: url(../images/ico/ico-seta.png) center left no-repeat;
				padding-left: 40px;
			}
			
				.destaque p.mais a{
					font-family: "LeagueGothicRegular";
					font-size: 24px;
					line-height: 34px;
					text-decoration: none;
					text-transform: uppercase;
					color: #757575;
					letter-spacing: 6px;
				}
				
					.destaque p.mais a span{
						color: #3491c2;
						display: block;
						font-size: 45px;
						font-family: "LeagueGothicRegular";
						text-transform: inherit;
						letter-spacing: 2px;
					}

/* Centro */

	.todas{
			position: absolute;
			top: 0;
			line-height: normal;
		}
		
			a.todas{
				padding: 0;
				text-decoration: underline;
				color: #626262;
				font-size: 14px;
				font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
				font-style: italic;
				padding-left: 15px;
				background-repeat: no-repeat;
				background-image: url(../images/ico/ico-pequenos.png)
			}
			
				a.todas{
					background-position: 0 -35px;
				}

				.videos p.todas a{
					background-position: 0 5px;
				}
				
					a.todas:focus,
					a.todas:hover{
						color: #4290C0;
					}

	.clientes{
	}
	
		.clientes h3{
			width: 440px;
			margin: 0 auto;
			background: url(../images/clientes.png) 0 0 no-repeat;
			text-align: center;
			color: #f3f3f3;
			text-transform: uppercase;
			font-size: 14px;
			padding: 6px 0;
		}
		
		.clientes ul{
			margin: 70px 0;
		}
	
		.clientes li{
			list-style-type: none;
			display: inline;
		}
		
			.clientes a{
				display: inline-block;
				margin: 0 38px;
			}
			
					.clientes a img{ border: none; }

/* Rodape */

	.rodape{
		background: #eff1f3;
		padding: 30px;
		border-top: 1px solid #d8d9d9;
		overflow: hidden;
	}
	
		.rodape address{
			color: #4c6b85;
			float: left;
			font-size: 17px;
			text-transform: uppercase;
			font-weight: 300;
			background: url(../images/ico/ico-contato.png) 0 center no-repeat;
			padding-left: 40px;
		}
		
			.rodape address span{
				font-weight: 600;
				font-size: 22px;
			}

	/* Selo Atratis */
					
	p.assinatura{
		margin: 20px 0 0 0;
		padding: 0;
		overflow: hidden;
		float: right;
	}
	
		a.selo{
			width: 26px;
			height: 20px;
			background: url(../images/selo-atratis.png) 0 0 no-repeat;
			overflow: hidden;
			display: block;
			text-indent: -9999px;
		}
		
			a.selo:hover,
			a.selo:focus{ background-position: 0 bottom; }

