/*
	Atratis Comunicação Digital - www.atratis.com.br
	Projeto: Delivery English
	Sobre: Folha de Estilo para as páginas internas
*/

/* Destaque */

.destaque{
	border-top: 1px solid #d6dee7;
	border-bottom: 1px solid #d6dee7;
	margin: 0;
}

.destaque h2{
	margin-top: 25px;
}

/* Conteúdo */

	.titulo{
		margin: 10px 0 20px;
		padding: 0 0 20px 20px;
		background: url(../images/borda.png) 0 bottom repeat-x;
	}
	
	.titulo span{
		color: #545454;
		text-transform: uppercase;
		font-weight: 800;
		padding-right: 25px;
		margin-right: 8px;
		font-size: 18px;
		background: url(../images/ico/ico-seta2.png) right center no-repeat;
	}
	
	.titulo span,
	.titulo span + h2{
		display: inline;
	}
	
	.titulo h2{
		color: #418fbf;
		font-weight: 600;
		font-size: 20px;
		text-transform: uppercase;
	}

	.texto{
		overflow: hidden;
	}
	
		.texto h2, .texto h3, .texto h4, .texto h5, .texto h6{ margin-bottom: 20px; }
	
		.texto h2{
			font-size: 26px;
			font-weight: 600;
			color: #418FBF;
		}
		
		.texto h3{
			font-size: 24px;
			font-weight: 600;
			color: #82A8BF;
		}

		.texto h4{
			font-size: 20px;
			font-weight: 600;
			color: #333;
		}

		.texto h5{
			font-size: 18px;
			font-weight: 800;
			color: #666;
		}
		
		.texto h6{
			font-size: 16px;
			font-weight: 800;
			color: #999;
		}
	
		.texto p{
			margin-bottom: 25px;
			font-size: 15px;
			line-height: 24px;
		}
		
		.texto a{
			color: #015CAB;
		}
		
		.texto blockquote{
			font: italic normal  24px/29px "Palatino Linotype", "Book Antiqua", Palatino, serif;
			padding: 30px 0;
			border-top: 1px solid #bababa;
			border-bottom: 1px solid #bababa;
			width: 400px;
			color: #A3A3A3;
			margin: 10px 20px 20px 0;
			float: left;
		}
		
		.texto ol,
		.texto ul{
			list-style-position: inside;
			font-size: 15px;
			color: #656565;
			margin-bottom: 20px;
		}
		
		.texto ol{
			list-style-type: decimal;
		}
		
		.texto ul{
			list-style-type: disc;
		}
		
		.texto table{
			border: 1px solid #bababa;
			margin-bottom: 20px;
		}
		
			.texto table th,
			.texto table td{
				padding: 8px 10px;
				border-bottom: 1px solid #bababa;
				border-right: 1px solid #bababa;
				font-size: 14px;
				color: #878787;
			}
			
			.texto table th{
				color: #fff;
				background: #bababa;
				background: -moz-linear-gradient(top,  #bababa 0%, #aaaaaa 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%,#aaaaaa));
				background: -webkit-linear-gradient(top,  #bababa 0%,#aaaaaa 100%);
				background: -o-linear-gradient(top,  #bababa 0%,#aaaaaa 100%);
				background: -ms-linear-gradient(top,  #bababa 0%,#aaaaaa 100%);
				background: linear-gradient(top,  #bababa 0%,#aaaaaa 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#aaaaaa',GradientType=0 );
			}
			
			.texto table tr:nth-child(even) td{
				background: #EBEBEB;
			}
		
/* Listagem */

	ul.listagem li{
		list-style-type: none;
		width: 920px;
		overflow: hidden;
		background: url(../images/borda.png) 0 bottom repeat-x;
		margin-bottom: 0px;
		padding: 20px;
		position: relative;
	}
	
		ul.listagem li:last-child{
			background-image: none;
		}
		
		small.data{
			width: 36px;
			height: 36px;
			float: left;
			display: block;
			background-color: #98adb8;
			text-align: center;
			text-transform: uppercase;
			padding: 5px;
			margin-right: 15px;
			font-family: Georgia, "Times New Roman", Times, serif;
			color: #fff;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			-o-border-radius: 3px;
			font-size: 14px;
			font-style: italic;
		}
		
		ul.listagem li a{
			color: #666;
			text-decoration: none;
			font-size: 18px;
			font-weight: 300;
		}
		
		ul.listagem li small + a{
			padding-right: 100px;
			display: block;
		}
			
			ul.listagem li:hover a,
			ul.listagem li:focus a{
				color: #6091AB;
			}
			
		
		ul.listagem li a.todas{
			right: 20px;
			top: 22%;
			font-size: 14px;
			border-left: 1px solid #d8d8d8;
			padding: 15px 0 15px 30px;
			background-position: 10px -20px;
		}
		
	/* Compartilhamento */
		
	.social{
		border-top: 1px solid #d8d8d8;
		overflow: hidden;
		padding: 20px 0;
	}
	
		.social strong{
			color: #292929;
			font-size: 15px;
			margin-right: 10px;
			display: inline;
			margin-left: 320px;
		}
		
		.social ul,
		.social li,
		.social strong{ float: left; }
		
			.social ul{ margin-top: 2px; }
		
			.social li{ margin-right: 10px; list-style-type: none; }
			
	/* Contato */
	
	.btn{
		border-radius: 4px;
		-moz-border-radius: 4px;
		-o-border-radius: 4px;
		-webkit-border-radius: 4px;
		color: #DDE4EC;
		text-transform: uppercase;
		border: none;
		background: #005dab;
		padding: 5px 15px;
		cursor: pointer;
		overflow: hidden;
	}
	
		.btn:focus,
		.btn:hover{
			color: #fff;
			background: #007ce2;
			background: -moz-linear-gradient(top,  #007ce2 0%, #005dab 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007ce2), color-stop(100%,#005dab));
			background: -webkit-linear-gradient(top,  #007ce2 0%,#005dab 100%);
			background: -o-linear-gradient(top,  #007ce2 0%,#005dab 100%);
			background: -ms-linear-gradient(top,  #007ce2 0%,#005dab 100%);
			background: linear-gradient(top,  #007ce2 0%,#005dab 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ce2', endColorstr='#005dab',GradientType=0 );
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px;
			overflow: hidden;
		}
	
	.input-text{
		border: 1px solid #cbcfcf;
		padding: 7px 10px;
		background: #f5f5f5;
		font-size: 14px;
		color: #666;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-o-border-radius: 2px;
		box-shadow: inset 0 2px 0  #ededed;
		
	}
	
		.input-text:focus{
			border-color: #005DAB;
		}
		
		.input-text:hover{
			border-color: #A2A2A2;
		}
		
			.input-text, .input-text:hover, .input-text:focus{
				-webkit-transition: all 250ms ease-out;
				-moz-transition: all 250ms ease-out;
				-o-transition: all 250ms ease-out;
				transition: all 250ms ease-out;
			}
	
	.contato{
		width: 100%;
		overflow: hidden;
		margin-bottom: 30px;
	}
	
		.contato .texto{
			padding: 0 0 0 20px;
		}
	
		.contato h2{
			margin: 0;
			font-size: 22px;
		}
	
		.contato .f-left{
			width: 652px;
			margin-right: 18px;
			float: left;
		}
		
			.contato fieldset{
				border: none;
			}
			
			.contato label{
				display: block;
				font-size: 13px;
			}
			
			.contato p.span{
				float: left;
				width: 196px;
				margin-right: 20px;
			}
			
				.contato p.span .input-text{
					width: 176px;
				}
				
			.contato textarea{
				width: 610px;
				height: 150px;
			}
	
		.contato .lateral{
			float: left;
			width: 290px;
		}
		
			.contato .preview{
				border: 1px solid #cecece;
				border-radius: 6px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				-o-border-radius: 6px;
				overflow: hidden;
				box-shadow: 0 0 2px #cfcfcf;
			}
			
			.contato img{ display: block; }
		
			.contato .mapa{
				padding: 0 20px;
			}
			
			.contato .mapa address{
				color: #545454;
				font-size: 14px;
				padding: 10px 0 0 0;
			}
			
			.contato .mapa span{
				color: #4c6b85;
				font-size: 16px;
				display: block;
				height: 55px;
				border-top: 1px solid #e5e5e5;
				padding: 10px 0 0 40px;
				margin-top: 10px;
				background: url(../images/ico/ico-contato.png) 0 18px no-repeat;
			}
			
				.contato .mapa span span{
					padding: 0;
					margin: 0;
					background: none;
					border: none;
				}
			
			.contato .mapa strong{
				font-weight: 600;
				font-size: 20px;
			}
	

	/* Paginação */
	
	.paginacao{
		padding: 30px 0;
		border-top: 1px solid #D8D8D8;
		overflow: hidden;
	}
	
	.paginacao ul{ margin-left: 270px; }
	
	.paginacao li{
		display: inline;
		list-style-type: none;
		margin-right: 5px;
	}
	
		.paginacao li span{
			color: #929292;
		}
			.paginacao li a,
			.paginacao li span{
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-o-border-radius: 3px;
				padding: 5px 10px;
				display: inline-block;
				font-size: 12px;
				overflow: hidden;
			}
			
				.paginacao li.ativo span{
					box-shadow: inset 0 1px 0px #bbb;
				}
			
			.paginacao li a{
				text-decoration: none;
				background: #d2d2d2;
				color: #666;
			}
			
				.paginacao a:hover,
				.paginacao a:focus{
					color: #fff;
					background: #007ce2;
					background: -moz-linear-gradient(top,  #007ce2 0%, #005dab 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007ce2), color-stop(100%,#005dab));
					background: -webkit-linear-gradient(top,  #007ce2 0%,#005dab 100%);
					background: -o-linear-gradient(top,  #007ce2 0%,#005dab 100%);
					background: -ms-linear-gradient(top,  #007ce2 0%,#005dab 100%);
					background: linear-gradient(top,  #007ce2 0%,#005dab 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ce2', endColorstr='#005dab',GradientType=0 );
					border-radius: 4px;
					-moz-border-radius: 4px;
					-o-border-radius: 4px;
					-webkit-border-radius: 4px;
					behavior: url(css/PIE.htc);
				}
			
			.paginacao li.ativo span{
				background: #005dab;
				color: #fff;
				box-shadow: inset 0 1px 0px #024d8b;
			}

.logosClientes{
    float: left;
    margin: 10px 40px;
}
