/*
	Atratis Comunicação Digital - www.atratis.com.br
	Projeto: Delivery English
	Sobre: Folha de Estilo para estrutura a página inicial
*/

/* 
	Slideshow
*/

.slideshow{
	overflow: hidden;
	position: relative;
}

	.slideshow  ul, .slideshow li{
		margin: 0;
		padding: 0;
	}
	
		.slideshow ul{
			position: relative;
			float: left;
			width: 960px;
			height: 390px;
		}
	
		.slideshow li{
			position: absolute;
			left: 0;
			top: 0;
			list-style-type: none;
		}
		
			.slideshow li a, .slideshow li img{
				display: block;
				border: none;
			}
			
	#controle{
		border-bottom: 1px solid #418fbf;
		position: absolute;
		right: 0;
		bottom: 40px;
		width: 150px;
		z-index: 500;
		padding-bottom: 5px;
	}
		#controle a{
			width: 11px;
			height: 11px;
			text-indent: -99999px;
			overflow: hidden;
			display: block;
			text-transform: uppercase;
			background: url(../images/slideshow/ui-controle.png);
			background-repeat: no-repeat;
			background-position: 0 -40px;
			display: inline-block;
			margin-right: 5px;
		}
		
			#controle a:hover,
			#controle a:focus{
				background-position: 0 -19px;
			}
			
			#controle a.activeSlide{
				background-position: 0 1px;
			}
			
	.slideshow .barra{
		width: 960px;
		height: 20px;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 500;
		background: url(../images/barra-slideshow.png) 0 0 no-repeat;
	}
			
/* 
	Destaques
*/

.destaque{
	border-bottom: 1px solid #d6dee7;
	margin-bottom: 30px;
	background: #f1f1f1;
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #ebedef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#ebedef));
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ebedef 100%);
	background: -o-linear-gradient(top,  #f1f1f1 0%,#ebedef 100%);
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#ebedef 100%);
	background: linear-gradient(top,  #f1f1f1 0%,#ebedef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ebedef',GradientType=0 );
}

	.destaque h2{
		margin-bottom: 10px;
	}
	
		.destaque h2 span{ font-weight: bold; }
	
	.destaque h2 + p{
		color: #64717a;
	}
	
		.destaque h2,
		.destaque p{
			width: 350px;
		}
			
	.destaque ul{
		float: left;
		margin-left: 30px;
	}
	
		.destaque li{
			float: left;
			width: 125px;
			list-style-type: none;
			text-align: center;
		}
		
			.destaque li a{
				text-decoration: none;
			}
		
			.destaque li a{
				display: block;
				text-decoration: none;
				text-align: center;
				color: #7a8394;
				text-transform: uppercase;
				font-size: 12px;
				background-repeat: no-repeat;
				background-position: center 10px;
				padding: 65px 0 20px;
				text-align: center;
				height: 40px;
				-webkit-transition: background-position 400ms ease-out;
				-moz-transition: background-position 400ms ease-out;
				-o-transition: background-position 400ms ease-out;
			}	
			
				.destaque li.traducao a{
					background-image: url(../images/ico/ico-traducaoo.png);
				}
				
				.destaque li.company a{
					background-image: url(../images/ico/ico-company.png);
				}
				
				.destaque li.interprete a{
					background-image: url(../images/ico/ico-interprete.png);
				}
				
				.destaque li a:hover,
				.destaque li a:focus{
					background-position: center 0px;
					-webkit-transition: background-position 200ms ease-in;
					-moz-transition: background-position 200ms ease-in;
					-o-transition: background-position 200ms ease-in;
					color: #c54451;
				}
			
			.destaque li span{
				display: block;
				width: 85px;
				text-align: center;
				padding: 0 20px;
			}
			
			.destaque p.mais{
				position: absolute;
				right: 30px;
				top: 45px;
				margin: 0;
				width: auto;
				background: url(../images/ico/ico-seta.png) center left no-repeat;
				padding-left: 40px;
			}
			
				.destaque p.mais a{
					font-family: "LeagueGothicRegular";
					font-size: 24px;
					line-height: 34px;
					text-decoration: none;
					text-transform: uppercase;
					color: #757575;
					letter-spacing: 6px;
				}
				
					.destaque p.mais a span{
						color: #3491c2;
						display: block;
						font-size: 45px;
						font-family: "LeagueGothicRegular";
						text-transform: inherit;
						letter-spacing: 2px;
					}
	
/* 
	Noticias
*/

	.noticias{
		width: 510px;
		margin-right: 20px;
		float: left;
		position: relative;
	}
		
		.noticias h2{
			margin-left: 20px;
		}
		
		.noticias ul{
			overflow: hidden;
			width: 100%;
		}
	
		.noticias li{
			list-style-type: none;
			width: 100%;
			border-bottom: 1px solid #d8d8d8;
			border-top: 1px solid #fff;
		}
		
			.noticias li.primeiro{ border-top: none; }
			.noticias li.ultimo{ border-bottom: none; }
		
		.noticias li a{
			display: block;
			padding: 20px;
			text-decoration: none;
			color: #666;
			font-size: 16px;
		}
		
			.noticias li a:hover,
			.noticias li a:focus{
				background-color: #EBEBEB;
			}
			
				.noticias li a:focus small,
				.noticias li a:hover small{
					background-color: #98adb8;
				}
		
		.noticias li small{
			width: 36px;
			height: 36px;
			float: left;
			background: #98adb8;
			text-align: center;
			padding: 5px;
			margin-right: 15px;
			font-family: Georgia, "Times New Roman", Times, serif;
			color: #fff;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			-o-border-radius: 3px;
		}
		
		.todas{
			right: 20px;
		}
		
			
			
/* 
	Videos
*/

	.videos{
		position: relative;
		float: right;
		width: 350px;
		padding: 0 20px;
	}
	
		.videos li{
			list-style-type: none;
			border-bottom: 1px solid #d8d8d8;
		}
		
			.videos li span{
				padding: 15px 0;
				font-style: italic;
			}
			
				.videos li a,
				.videos li span{
					font-size: 14px;
					display: block;
					color: #666;
				}
				
				.videos li a span{
					padding: 15px 0 15px 30px;
					background: url(../images/ico/ico-play.png) 0 center no-repeat;
					font-style: normal;
				}
				
					.videos li a:hover span,
					.videos li a:focus span{
						color: #4290C0;
					}
			
				.videos li a{
					text-decoration: none;
					border-top: 1px solid #fafafa;
				}
			
/* 
	Depoimentos
*/

.depoimentos{
	padding: 50px 0 0;
	border-top: 1px solid #e0e1e5;
	border-bottom: 1px solid #e0e1e5;
	margin-bottom: 70px;
	margin-top: 30px;
	height: 210px;
	position: relative;
	background: #ecf0f3 url(../images/linha-diagonal.png) center top no-repeat;
}


	.depoimentos li{
		text-align: center;
		list-style-type: none;
		padding: 10px 90px;
		height: auto !Important;
		background: #ecf0f3 url(../images/aspas.png) center 30px no-repeat;
	}
	
	.depoimentos blockquote p{
		text-align: center;
		color: #4c6c85;
		font-weight: normal;
		font-size: 38px;
		line-height: 40px;
		padding: 0 70px;
		font-family: "LeagueGothicRegular", "Open Sans", Arial, sans-serif;
	}
	
		.depoimentos blockquote p span{
			display: block;
			text-transform: uppercase;
			color: #656766;
			font-weight: 600;
			font-size: 12px;
			margin-top: 15px;
			margin-bottom: 20px;
		}
		
	#navDepoimentos{
		position: absolute;
		bottom: -40px;
		left: 46%;
		z-index: 100;
		background: #ECF0F3;
		padding: 10px 0;
	}
		
	#navDepoimentos a{
		text-indent: -9999px;
		overflow: hidden;
		width: 9px;
		height: 9px;
		background: #c8cfd5;
		display: block;
		float: left;
		margin-right: 10px;
		background: url(../images/slider.png) 0 0 no-repeat;
	}
	
		#navDepoimentos a.activeSlide,
		#navDepoimentos a:hover,
		#navDepoimentos a:focus{
			background-position: 0 bottom;
		}

/* 
	Titulos
*/

	h2{
		color: #4290c0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		margin-bottom: 25px;
	}

