/*
	Atratis Comunicação Digital - www.atratis.com.br
	Projeto: Delivery English
	Sobre: Folha de Estilo de 'reset.'
*/

*{
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

html{ font-size: 62.5%; }

body{ font-size: 1em; }

h1, h2, h3, h4, h5, h6{
	font-size: 100%;
	font-weight: lighter;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

p{
	font-size: 15px;
	margin-bottom: 5px;
	line-height: 22px;
	color: #656565;
}

/* LINKS */

a{
	color: blue;
}
	
	a:hover{
		text-decoration: none;
	}

	a:visited{
	   color: purple;
	}

	a:active{
	   color: red;
	}
	
	a:link, a:link:hover, a:link:focus, a:link:active, a:link:visited{
		-webkit-transition: color 250ms ease-out;
		-moz-transition: color 250ms ease-out;
		-o-transition: color 250ms ease-out;
		transition: color 250ms ease-out;
	}
	
/* TABELAS */
	
table {  
	border-collapse: collapse;  
	border-spacing: 0;  
}

	caption{
		font-style: italic;
		margin-bottom: 5px;
		margin-top: 15px;
		opacity: .5;
		filter: alpha(opacity = 50);
	}

address,cite,code,dfn,em,var {
	font-weight: normal;
	font-style: normal;
}

.acessibilidade, .ancora{
	position: absolute;
	left: -99999px;
	height: 1px;
	width: 1px;
}

.txtIndent{
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	text-transform: uppercase;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* CLASSES UTEIS */

	.dn{ display: none; }
	
	.clear{ clear: both; }
	
	.ultimo{ margin: 0 !important; }
	
	
	/* ALINHAMENTOS DE TEXTO */
	
	
	.a-right{ text-align: right; }
	
	.a-left{ text-align: left; }
	
	.a-center{ text-align: center; }
	
	
	/* FLOATS */
	
	.f-right{ float: right; }
	
	.f-left{ float: left; }