/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] 
{
    -moz-appearance: textfield;
}

body, body *
{
    font-family: 'Tahoma', 'Segoe UI', 'Geneva', 'Verdana', sans-serif;
    font-size: 12pt;
    box-sizing: border-box;
    list-style: none;
    margin:0;
    padding:0;
    /*transition: scroll, 0.4s;
    -moz-transition: scroll, 0.4s;*/
    text-decoration: none;
    
    user-select:none;
    -moz-user-select: none;
    /*color: #eee;*/
    --corPrincipal: #142E54;
    --corComplementar:#f2ba4b;
    --corSecundariaClara:#2c4770;
    --corSecundariaEscura:#051a38;
    --corBrancoPadrao:#eee;
    --corCinza:#777;
    --corCinzaClaro:#ccc;
    --corCinzaEscuro:#333;
    --corAcerto:#55c876;
    --corErro:#f24b4b;
}

input, textarea
{
    user-select:text;
    -moz-user-select:text;
}

#slotMenu
{
    background:var(--corPrincipal);
    color:var(--corBrancoPadrao);
    /*text-align:center;*/
    padding:0 0.5rem;
}

#menu li
{
    /*background:var(--corSecundariaClara);*/
    padding:0.5rem;
    display:inline-block;
    cursor:pointer;
    transition: all 0.3s;
}

#menu li:hover
{
    background:var(--corSecundariaEscura);
}

#cPrincipal
{
    text-align:center;
    padding-top:0.5em;
}