<div class="blocoPagina corPrincipalFundo corBrancoPadraoConteudo">
    <div class="slotEsq1">
        <h3 class="destaqueTexto1">Lyanna 'Grande Guerreira'</h3>
        <p>Amazona das Terras Distantes</p>
        <br>
        <p>Novos Protetores</p>
    </div>
    <div class="slotAtributos">
        <div class="atrLinha1">
            <span>
                <p class="nomeAtr"><b>ST:</b> 12 | <b>DX:</b> 12 | <b>IQ:</b> 11 | <b>HT:</b> 12 | <b>BC:</b> 14kg</p>
            </span>
            <br><br>
            <span>
                <p class="nomeAtr"><b>Dano:</b> 1d-1/1d+2 | <b>Per:</b> 11 | <b>PV:</b> 12 | <b>PF:</b> 12</p>
            </span>
        </div>
    </div>
</div>

<div class="blocoPagina corPrincipalFundo corBrancoPadraoConteudo">
        <img class="dado" id="dado1" onclick="number1()" src="dados/1.png">
        <img class="dado" id="dado2" onclick="number2()" src="dados/1.png">
        <img class="dado" id="dado3" onclick="number3()" src="dados/1.png">
        <br>
        <p><b>Soma: <span id="soma">3</span></b>
        <p id="resultado"></p>
        <br>
        <!-- ->select id="personagens">
            <option value=0>Bartolomeu 'O Anão'</option>
            <option value=1>Lyanna 'Grande Guerreira'</option>
            <option value=2>Leon 'O Construto'</option>
        </select>
        <select id="caracteristicas">
            <option value="st">[ST] Força</option>
            <option value="dx">[DX] Destreza</option>
            <option value="iq">[IQ] Inteligência</option>
            <option value="iq">[HT] Vitalidade</option>
            <option value="iq">[BC] Carga</option>
        </select -->
        <br>
        <input class="btn1" onclick="rolarDados()" type="submit" value="rolar dados">
</div>

