@media screen and (min-width: 220px)
{
    /* Hide HTML5 Up and Down arrows. */
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button 
    {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type="number"] 
    {
        -moz-appearance: textfield;
    }


    body, body *
    {
        font-family: 'Tahoma', 'Segoe UI', 'Geneva', 'Verdana', sans-serif;
        font-size: 12pt;
        box-sizing: border-box;
        list-style: none;
        margin:0;
        padding:0;
        /*transition: scroll, 0.4s;
        -moz-transition: scroll, 0.4s;*/
        text-decoration: none;
        
        user-select:none;
        -moz-user-select: none;
        /*color: #eee;*/
        --corPrincipal: #5d4ebf;
        --corComplementar:#f2ba4b;
        --corSecundariaClara:#7665e9;
        --corSecundariaEscura:#4d3db1;
        --corBrancoPadrao:#eee;
        --corCinza:#777;
        --corCinzaClaro:#ccc;
        --corCinzaEscuro:#333;
        --corAcerto:#55c876;
        --corErro:#f24b4b;
    }
    
    input, textarea
    {
        /*user-select:all;
        -moz-user-select:all;*/
    }

    body
    {
        /*background:#9cf;*/
        overflow: hidden;
    }

    /*CORES*/

    .corPrincipalConteudo
    {
        color:var(--corPrincipal);
    }

    .corPrincipalFundo
    {
        background:var(--corPrincipal);
    }

    .corComplementarConteudo
    {
        color:var(--corComplementar);
    }

    .corComplementarFundo
    {
        background: var(--corComplementar);
    }

    .corAcertoConteudo
    {
        color: var(--corAcerto);
    }

    .corAcertoFundo
    {
        background: var(--corAcerto);
    }

    .corErroConteudo
    {
        color: var(--corErro);
    }

    .corErroFundo
    {
        background: var(--corErro);
    }

    .corSecundariaClaraConteudo
    {
        color: var(--corSecundariaClara);
    }

    .corSecundariaClaraFundo
    {
        background: var(--corSecundariaClara);
    }

    .corSecundariaEscuraConteudo
    {
        color: var(--corSecundariaEscura);
    }

    .corSecundariaEscuraFundo
    {
        background: var(--corSecundariaEscura);
    }

    .corBrancoPadraoConteudo
    {
        color: var(--corBrancoPadrao);
    }

    .corBrancoPadraoFundo
    {
        background: var(--corBrancoPadrao);
    }

    .corCinzaEscuroConteudo
    {
        color: var(--corCinzaEscuro);
    }

    .corCinzaEscuroFundo
    {
        background: var(--corCinzaEscuro);
    }

    .corCinzaConteudo
    {
        color:var(--corCinza);
    }

    .corCinzaFundo
    {
        background: var(--corCinza);
    }

    .corCinzaClaroConteudo
    {
        color:var(--corCinzaClaro);
    }

    .corCinzaClaroFundo
    {
        background:var(--corCinzaClaro);
    }
    /*CORES*/

    #slotMenu
    {
        position:fixed;
        width:100%;
        max-height: 3rem;
        height: 100%;
        bottom:0;
        text-align:center;
        overflow: hidden;
        /*background:#eee;
        color:#eee;*/
        transition: height, 0.6s;
        z-index: 9;
    }

    #slotMenu:hover
    {
        /*height:100%;*/
    }

    #slotMenu:hover p sup
    {
        /*transform: rotateX(180deg);*/
    }

    #slotMenu p
    {
        /*background: #147;*/
        height: 2.8rem;
        padding: 0;
        overflow:hidden;
        transition: transform, 0.4s;
    }

    #slotMenu p sup
    {
        position:absolute;
        width:100%;
        top:0;
        left:0;
        font-size:195%;
        transition: transform, 0.4s;
    }

    .fundoCompleto
    {
        width:100%;
        height:100%;
    }

    #menu
    {
        padding-top:0.2rem;
        text-align:center;
        z-index: 9;
        user-select: none;
        -moz-user-select: none;
    }

    .menuPadrao
    {
        width:3rem;
        margin: -0.2rem 0 0 0;
        padding: 0;
        /*background: none;
        color: #5d4ebf;
        /*border: 0.1rem solid #47a;*/
        display: inline-block;
        cursor:pointer;
        text-transform: uppercase;
        font-size:10pt;
        font-weight: bold;
        transition: all 0.5s;
        background:none;
        color: #5d4ebf;
    }

    .menuPadrao img
    {
        width:3rem;
        filter: saturate(100%) hue-rotate(265deg) brightness(70%);
    }

    #cPrincipal
    {
        position: absolute;
        width:100%;
        height:96%;
        top: 0;
        left: 0;
        border: 0px solid #0ff;
        overflow: auto;
        transition: all, 0.4s;
        z-index:7;
        padding-bottom: 0.5rem;
    }

    #cPrincipal div
    {
    }

    #modais
    {
        position:absolute;
        opacity: 0;
        z-index:4;
    }

    .blocoPagina
    {
        width: 92%;
        height:16rem;
        min-height: 40%;
        margin: 11% 0 10% 4%;
        padding: 0.2rem 0.4rem;
        border-radius:10px;
        box-shadow:0 0.2rem 0.1rem #431;
    }

    /*
    .blocoPagina * 
    {
        color: #369;
        font-size: 12pt;
    }
    

    .blocoPagina h1
    {
        background: #369;
        color: #eee;
        padding: 0.5rem;
        text-align:center;
        font-size: 16pt;
    }
    */

    .blocoPagina>div
    {
        padding: 0.4rem 0.2rem;
        /*border: 0 solid #940;*/
    }

    .listaCirculo
    {
        padding: 1rem;
    }

    .listaCirculo li
    {
        list-style: initial;
        padding-top: 0.5rem;
    }

    .destaqueTexto1
    {
        font-size:14pt;
        color: #f2ba4b;
    }

    .imgInicial
    {
        width:75%;
        margin-top:12rem;
        filter:hue-rotate(255deg) brightness(110%);/*
        -moz-filter:hue-rotate(120deg);*/
    }

    .selecionado
    {
        background: var(--corPrincipal);
    }

    .selecionado img
    {
        filter: hue-rotate(70deg) brightness(300%);
    }

    .centralizado
    {
        text-align: center;
    }

    .slotEsq1
    {
        width:55%;
        height:52%;
        border:0px solid #ff0;
        font-size:10pt;
    }

    .slotEsq1 p
    {
        font-size: 10pt;
    }

    .slotEsq2
    {
        width:68%;
        height: 2.3rem;
        border:0px solid #f00;
        padding: 0;
    }

    .slotEsq2 p
    {
        padding-left: 3.5rem;
    }

    .faixaSuperiorBloco
    {
        width:100%;
        height:3.8rem;
        border:0px solid #f0f;
    }

    .faixaSuperiorBloco h3
    {
        margin-top:1.3rem;
    }

    .charMiniFoto
    {
        position:absolute;
        margin-top: 0;
        left:2rem;
        width:2.5rem;
        height:2.5rem;
        border-radius:50%;
        border:0px solid #0f0;
    }

    .slotAtributos
    {
        position:absolute;
        width:42%;
        height:10rem;
        margin-top: -11rem;
        right:1rem;
        border:0px solid #0ff;
    }

    .acessoDetalhes
    {
        width:9.5rem;
        margin-left:0.7rem;
        padding: 0.1rem 0 0.2rem 0;
        cursor:pointer;
        border-radius:5px;
        text-align: center;
    }

    .atrLinha
    {
        width:100%;
        height:2rem;
        text-align:center;
        display:block;
    }

    .atrLinha p
    {
        position:relative;
        border:0px solid #f00;
        /*width:4.6rem;*/
        margin-left: 0.5rem;
        display:inline-block;
    }

    .atrPadrao
    {
        width:4.6rem;
    }

    .atrLinha p span
    {
        width:50%;
        font-size:10pt;
        padding: 0.2rem 0.3rem;
        text-align:center;
    }

    .atrGrande
    {
        width:9.8rem;
    }

    .atrLinha1
    {
        width:100%;
        height:4.5rem;
        display:inline-block;
    }

    
    .atrLinha1 span p
    {
        display:inline;
        /*border:1px solid #f00;*/
    }

    

    .circAtr
    {
        width:2rem;
        height:2rem;
        background:#eee;
        border-radius:50%;
        border: 0px solid #ff0;
    }

    .nomeAtr b
    {
        color: #f2ba4b;
    }

    .dado
    {
        width:4rem;
        background:#fff;
    }

    .ldEsq
    {
        position:absolute;
        left:0;
        border-radius: 5px 0 0 5px;
    }

    .ldDir
    {
        position:absolute;
        right:0;
        border-radius: 0 5px 5px 0;
    }

    .botaoRedondo
    {
        position:absolute;
        right:2rem;
        width: 2rem;
        height: 2rem;
        font-size:16pt;
        /*padding: 0.3rem 0.5rem 0.3rem 0.5rem;*/
        text-align:center;
        cursor:pointer;
        border:none;
        border-radius:50%;
        box-shadow:0.1rem 0.15rem 0.3rem #333;
    }

    .botaoFecharDetalhe
    {
        position:absolute;
        top:3rem;
        right:1rem;
        width: 2rem;
        height: 2rem;
        font-size:16pt;
        padding: 0.2rem 0.5rem;
        text-align:center;
        cursor:pointer;
        border:none;
        border-radius:50%;
        box-shadow:0.1rem 0.15rem 0.3rem #333;
    }
    
    /*INTEIRA*/
    
    .blocoPaginaInteira
    {
        width: 100%;
        height:98%;
        min-height: 40%;
        margin: 0 0 0 0;
        padding: 0.2rem 0 0 0;
        background: var(--corBrancoPadrao);
        color: var(--corPrincipal);
        border: 0px solid #f00;
        border-radius:10px 10px 0 0;
        /*box-shadow:0 0.2rem 0.1rem #431;*/
        text-align:center;
    }

    .blocoPaginaInteira .slotEsq1
    {
        width:80%;
        height:21rem;
        margin: 0 0 0 10%;
        padding: 0
        border:0px solid #ff0;
        font-size:10pt;
        background:var(--corCinzaClaro);
        color: var(--corBrancoPadrao);
        border-radius: 10px 10px 0 0;
        text-align:left;
    }

    .blocoPaginaInteira .slotEsq1 p
    {
        font-size: 10pt;
    }
    
    .blocoPaginaInteira .slotEsq1>div
    {
        position:absolute;
        width:80%;
        height:21rem;
        border:0 solid #0f0;
        opacity:0;
        visibility:hidden;
    }
    
    .blocoPaginaInteira .slotEsq1 h4
    {
        background: var(--corSecundariaEscura);
        text-align:center;
        padding:0.1rem;
        border-radius: 10px 10px 0 0;
    }
    
    .blocoPaginaInteira .slotEsq1 .ativo
    {
        visibility: visible;
        opacity: 1;
    }
    
    .blocoPaginaInteira .slotEsq1 .corpoBloco
    {
        height:18rem;
        padding:0.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        border:0 solid #f00;
    }

    .blocoPaginaInteira .slotEsq2
    {
        width:80%;
        height: 2rem;
        margin: 0 0 0 10%;
        padding: 0.5rem 0;
        border:0px solid #f00;
        border-radius: 0 0 10px 10px;
        text-align:center;
        background: var(--corComplementar);
        color: var(--corPrincipal);
    }

    .blocoPaginaInteira .slotEsq2 p
    {
        padding:0;
        text-align:center;
        color:var(--corSecundariaEscura);
    }
    
    .blocoPaginaInteira .slotEsq2 p span
    {
        color:var(--corSecundariaClara);
    }
    
    .blocoPaginaInteira .slotEsq2 *
    {
        display:inline-block;
        cursor:pointer;
    }
    
    .blocoPaginaInteira .slotEsq2>p
    {
        position:absolute;
        width:1.4rem;
        height:1.4rem;
        margin-top:-0.2rem;
        padding:0;
        text-align:center;
        background:var(--corPrincipal);
        color:var(--corComplementar);
        border-radius:50%;
    }
    
    .blocoPaginaInteira .slotEsq2 .setaEsq
    {
        left: 3rem;
    }
    
    .blocoPaginaInteira .slotEsq2 .setaDir
    {
        right:3rem;
    }
    
    .blocoPaginaInteira .slotEsq2 span
    {
        width:0.8rem;
        height:0.8rem;
        background:var(--corSecundariaClara);
        border: 0 solid var(--corPrincipal);
        border-radius:50%;
    }
    
    .blocoPaginaInteira .slotEsq2 .selecionado
    {
        width:0.9rem;
        height:0.9rem;
        background:var(--corPrincipal);
    }

    .blocoPaginaInteira .faixaSuperiorBloco
    {
        width:100%;
        height:8.5rem;
        padding:0;
        margin: 2rem 0 0 0;
        text-align:center;
        border:0px solid #f0f;
    }

    .blocoPaginaInteira .faixaSuperiorBloco h3
    {
        margin:0.5rem 0 0 0;
        background:var(--corPrincipal);
        color:var(--corComplementar);
        text-align:center;
    }
    
    .blocoPaginaInteira .faixaSuperiorBloco .botoesCabecalho
    {
        position:absolute;
        width:100%;
        margin:-4.5rem 0 0 0;
        padding: 0 3rem 0 0;
        text-align:right;
        border: 0 solid #f00;
    }
    
    .blocoPaginaInteira .faixaSuperiorBloco .botoesCabecalho input, .blocoPaginaInteira .faixaSuperiorBloco .botoesCabecalho div
    {
        position:relative;
        display: inline-block;
    }
    
    .blocoPaginaInteira .faixaSuperiorBloco .botoesCabecalho input
    {
        width:1.6rem;
        height:1.6rem;
        padding:0 0 0.1rem 0;
        text-align: center;
        border:none;
        border-radius: 50%;
        background:var(--corPrincipal);
        color: var(--corComplementar);
        visibility: visible;
        opacity:1;
    }
    
    .blocoPaginaInteira .faixaSuperiorBloco .botoesCabecalho .cancelar
    {
        background:var(--corComplementar);
        color: var(--corPrincipal);
    }
    
    .blocoPaginaInteira .faixaSuperiorBloco .campoNomePersonagem
    {
        background:var(--corSecundariaEscura);
        color:var(--corComplementar);
        border:none;
        text-align:center;
    }
    
    .blocoPaginaInteira .faixaSuperiorBloco .botaoFecharDetalhe
    {
        background:var(--corComplementar);
        padding:0;
        left:0.5rem;
    }
    
    .blocoPaginaInteira .mesaPersonagem
    {
        background:var(--corPrincipal);
        color:var(--corBrancoPadrao);
        font-weight:normal;
    }

    .blocoPaginaInteira .charMiniFoto
    {
        position:relative;
        margin-top:0;
        margin-left:-3.5rem;
        width:5rem;
        height:5rem;
        border-radius:50%;
        text-align: center;
        border:0px solid #0f0;
    }
    
    .blocoPaginaInteira .faixaSuperiorBloco .botoesCabecalho .escondido
    {    
        opacity:0;
        visibility: hidden;
    }

    .blocoPaginaInteira .slotAtributos
    {
        position:absolute;
        width:90%;
        height:2rem;
        margin-top: 0;
        border:0px solid #0ff;
    }

    .blocoPaginaInteira .atrLinha
    {
        width:100%;
        height:3rem;
        text-align:center;
        display:block;
    }

    .blocoPaginaInteira .atrLinha p
    {
        position:relative;
        border:0px solid #f00;
        /*width:4.6rem;*/
        margin-left: 0;
        display:inline-block;
    }

    .blocoPaginaInteira .atrPadrao
    {
        width:4.6rem;
    }

    .blocoPaginaInteira .atrLinha p span
    {
        width:50%;
        font-size:10pt;
        padding: 0.2rem 0.3rem;
        text-align:center;
    }

    .blocoPaginaInteira .atrGrande
    {
        width:9.8rem;
        padding-top:1rem;
    }

    .blocoPaginaInteira .atrLinha1
    {
        width:100%;
        height:4.5rem;
        display:inline-block;
    }

    
    .blocoPaginaInteira .atrLinha1 span p
    {
        display:inline;
        /*border:1px solid #f00;*/
    }
    
    .blocoPaginaInteira .atrRecursos
    {
        position:absolute;
        margin-top:0;
        
    }
    
    .blocoPaginaInteira .ldEsq
    {
        position:absolute;
        left:0;
        border-radius: 5px 0 0 5px;
        background: var(--corSecundariaEscura);
        color: var(--corComplementar);
    }

    .blocoPaginaInteira .ldDir
    {
        position:absolute;
        right:0;
        border-radius: 0 5px 5px 0;
        background: var(--corPrincipal);
        color: var(--corBrancoPadrao);
    }
    
    .blocoPaginaInteira .ldDir input
    {
        width:1.5rem;
        font-size:10pt;
        border:none;
        background:var(--corPrincipal);
        color: var(--corBrancoPadrao);
        text-align:center;
    }
    
    .blocoPaginaInteira .ldDir span
    {
        color:var(--corComplementar);
    }

    .blocoPaginaInteira .corpoBloco
    {
        text-align:center;
    }

    .blocoPaginaInteira .corpoBloco input, .blocoPaginaInteira .corpoBloco select
    {
        padding:0 0.1rem 0 0.1rem;
        background:var(--corPrincipal);
        color: var(--corComplementar);
        border:none;
    }
    
    .blocoPaginaInteira .corpoBloco input[type=text]
    {
        width:50%;
    }
    
    .blocoPaginaInteira .corpoBloco input[type=number]
    {
        width:1.4rem;
        text-align:center;
    }

    .blocoPaginaInteira .corpoBloco input[type=button]
    {
        width:1.5rem;
        height:1.5rem;
        font-size:14pt;
        padding:0 0 0.1rem 0.1rem;
        text-align: center;
        border-radius: 50%;
    }
    
    .blocoPaginaInteira .corpoBloco .cancelar
    {
        color:var(--corPrincipal);
        background:var(--corComplementar);
    }
    
    .blocoPaginaInteira .corpoBloco .escondido
    {
        visibility: hidden;
        opacity:1;
    }

    .blocoPaginaInteira .blcPericia
    {
        margin-top:0.5rem;
        text-align:left;
    }
    
    .blocoPaginaInteira .blcPericia h5
    {
        padding:0.5rem 0 0.2rem 0;
        color: var(--corSecundariaEscura);
    }
    
    .blocoPaginaInteira .blcPericia p
    {
        color: var(--corSecundariaClara);
        font-size:12pt;
    }
    
    .blocoPaginaInteira .corpoBloco .blcPericia p input
    {
        height: 1rem;
    }
    
    .blocoPaginaInteira .corpoBloco .blcPericia p input[type=button]
    {
        width: 1.2rem;
        height: 1.2rem;
        font-size:10pt;
        background:var(--corComplementar);
        color: var(--corPrincipal);
    }

    .blocoPaginaInteira .btnRet
    {
        padding:0.2rem;
        background:var(--corPrincipal);
        color:var(--corComplementar);
        box-shadow:1px 1px 0.5rem #333;
        user-select:none;
        cursor:pointer;
    }
    
    /*INTEIRA*/

    .btnRet
    {
        padding:0.2rem;
        background:var(--corPrincipal);
        color:var(--corComplementar);
        box-shadow:1px 1px 0.5rem #333;
        user-select:none;
        cursor:pointer;
        text-align:center;
    }

    .corFundoComplementar
    {
        background:#f2ba4b;
        color:#5d4ebf;
    }

    .btn1
    {
        background:#f2ba4b;
        color:#5d4ebf;
        border:none;
        padding: 0.3rem;
        border-radius:10px;
    }
}
/*
@media screen and (min-width: 950px)
{
    #slotMenu
    {
        position:fixed;
        width:100%;
        max-height: 3rem;
        height: 100%;
        top:0;
        text-align:right;
        overflow: hidden;
        background:#147;
        color:#eee;
        transition: height, 0.6s;
        z-index: 9;
        border: 0px solid #ff0;
    }

    #slotMenu>p
    {
        position:absolute;
        font-size:16pt;
        height:3rem;
        padding: 0.7rem 2.5rem;
        cursor:pointer;
        border: 0px solid #0f0;
        z-index:10;
        user-select: none;
        -moz-user-select: none;
    }

    #slotMenu>p:hover
    {
        background:#036;
    }

    #menu
    {
        position:absolute;
        right:10%;
        bottom: 0.4rem;
        width:100%;
        border: 0px solid #0f0;
        text-align: right;
        cursor:default;
    }

    #menu li
    {
        padding: 0.4rem;
        display: inline;
        background: #147;
        border: 0px solid #0ff;
        margin:0;
        text-transform: capitalize;
        transition:all 0.3s;
    }

    #menu li:hover
    {
        background:#036;
        padding: 0.4rem 0.4rem 1rem 0.4rem;
    }

    #cPrincipal
    {
        position: absolute;
        width:100%;
        height:100%;
        top: 0;
        left: 0;
        border: 0px solid #0ff;
        overflow: auto;
        transition: all, 0.4s;
        z-index:5;
        padding-bottom: 0.5rem;
    }

    .blocoPagina
    {
        width: 60%;
        height:auto;
        min-height: 50%;
        margin: 5% 0 1% 20%;
        padding: 0;
        background: #eee;
        color: #369;
        border:0px solid #ff0;
        box-shadow: 0 0.3rem 0.5rem #666;
    }

    .blocoPagina p
    {
        font-size:14pt;
    }

    .blocoPagina div
    {
        padding: 0.8rem 0.5rem;
    }
}
*/


/*
.color-primary-0 { color: #2C4870 }	/* Main Primary color *
.color-primary-1 { color: #758AA8 }
.color-primary-2 { color: #4C668C }
.color-primary-3 { color: #142E54 }
.color-primary-4 { color: #051A38 }

.color-secondary-1-0 { color: #AA9339 }	/* Main Secondary color (1) *
.color-secondary-1-1 { color: #FFEEAA }
.color-secondary-1-2 { color: #D4BF6A }
.color-secondary-1-3 { color: #806A15 }
.color-secondary-1-4 { color: #554400 }

.color-secondary-2-0 { color: #AA6539 }	/* Main Secondary color (2) *
.color-secondary-2-1 { color: #FFCBAA }
.color-secondary-2-2 { color: #D4946A }
.color-secondary-2-3 { color: #803F15 }
.color-secondary-2-4 { color: #552100 }



/* As RGBa codes *

.rgba-primary-0 { color: rgba( 44, 72,112,1) }	/* Main Primary color *
.rgba-primary-1 { color: rgba(117,138,168,1) }
.rgba-primary-2 { color: rgba( 76,102,140,1) }
.rgba-primary-3 { color: rgba( 20, 46, 84,1) }
.rgba-primary-4 { color: rgba(  5, 26, 56,1) }

.rgba-secondary-1-0 { color: rgba(170,147, 57,1) }	/* Main Secondary color (1) *
.rgba-secondary-1-1 { color: rgba(255,238,170,1) }
.rgba-secondary-1-2 { color: rgba(212,191,106,1) }
.rgba-secondary-1-3 { color: rgba(128,106, 21,1) }
.rgba-secondary-1-4 { color: rgba( 85, 68,  0,1) }

.rgba-secondary-2-0 { color: rgba(170,101, 57,1) }	/* Main Secondary color (2) *
.rgba-secondary-2-1 { color: rgba(255,203,170,1) }
.rgba-secondary-2-2 { color: rgba(212,148,106,1) }
.rgba-secondary-2-3 { color: rgba(128, 63, 21,1) }
.rgba-secondary-2-4 { color: rgba( 85, 33,  0,1) }

*/