<div>
        <!--
        <div class="blocoPagina"><div class="slotEsq1"><h3 class="destaqueTexto1">Bartolomeu 'O Anão'</h3><p>Herói de Meridiana, das Forjas de Moradin</p><br><p>Novos Protetores</p></div><div class="slotAtributos"><div class="atrLinha1"><span><p class="nomeAtr"><b>ST:</b> 10 | <b>DX:</b> 10 | <b>IQ:</b> 10 | <b>HT:</b> 10 | <b>BC:</b> 10kg</p></span><br><br><span><p class="nomeAtr"><b>Dano:</b> 1d-2/1d | <b>Per:</b> 10 | <b>PV:</b> 10 | <b>PF:</b> 10</p></span></div></div></div>
        
        <div class="blocoPagina"><div class="slotEsq1"><h3 class="destaqueTexto1">Lyanna 'Grande Guerreira'</h3><p>Amazona das Terras Distantes</p><br><p>Novos Protetores</p></div><div class="slotAtributos"><div class="atrLinha1"><span><p class="nomeAtr"><b>ST:</b> 12 | <b>DX:</b> 12 | <b>IQ:</b> 11 | <b>HT:</b> 12 | <b>BC:</b> 14kg</p></span><br><br><span><p class="nomeAtr"><b>Dano:</b> 1d-1/1d+2 | <b>Per:</b> 11 | <b>PV:</b> 12 | <b>PF:</b> 12</p></span></div></div></div>
        
        <div class="blocoPagina"><div class="slotEsq1"><h3 class="destaqueTexto1">Leon 'O Construto'</h3><p>Construto em busca de vida própria</p><br><p>Novos Protetores</p></div><div class="slotAtributos"><div class="atrLinha1"><span><p class="nomeAtr"><b>ST:</b> 13 | <b>DX:</b> 12 | <b>IQ:</b> 10 | <b>HT:</b> 14 | <b>BC:</b> 16kg</p></span><br><br><span><p class="nomeAtr"><b>Dano:</b> 1d/2d-1 | <b>Per:</b> 10 | <b>PV:</b> 14 | <b>PF:</b> 14</p></span></div></div></div>
        -->
</div>