<div class="blocoPaginaInteira">
        <div class="faixaSuperiorBloco">
                <span class="botaoFecharDetalhe" data-botao="voltar" onclick="PageLoad('fichas')">
                        &#8630;
                </span>
                <img class="charMiniFoto" src="" />
                <h3>
                        <p class="nomePersonagem"></p>
                        <p class="mesaPersonagem"></p>
                </h3>
                <div class="botoesCabecalho">
                        <input type="button" onclick="ChamaEditarNome(true)" value="&#9998;"/>
                        <div class="botoesConfirmacao">
                                <input class="escondido" type="button" onclick="ConfirmaNovoNome(true)" value="&#10003;"/>
                                <input class="escondido cancelar" type="button" onclick="ConfirmaNovoNome()" value="&#10005;"/>
                        </div>
                </div>
        </div>


        <div class="slotEsq1">
                <div class="ativo">
                        <h4>ATRIBUTOS</h4>
                        <div class="corpoBloco">
                                <div class="slotAtributos">
                                        <div class="atrLinha">
                                                <p class="atrGrande">
                                                        <span class="ldEsq">PTS</span>
                                                        <span class="ldDir atrPontos">
                                                                <input type="number" min="0" onblur="return AtualizaDadosficha(this,'pontos')" onkeydown="SoNumeros()" onfocus="MoveCursorfim(this)"/>
                                                        </span>
                                                </p>
                                        </div>

                                        <div class="atrLinha">
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">ST</span>
                                                        <span class="ldDir atrSt"><input type="number" min="1" max="25" onblur="return AtualizaDadosFicha(this, 'st')"  onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)"/></span>
                                                </p>
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">DX</span>
                                                        <span class="ldDir atrDx"><input type="number" min="1" max="25" onblur="return AtualizaDadosFicha(this, 'dx')"  onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /> </span>
                                                </p>
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">IQ</span>
                                                        <span class="ldDir atrIq"><input type="number" min="1" max="25" onblur="return AtualizaDadosFicha(this, 'iq')"  onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /> </span>
                                                </p>
                                        </div>

                                        <div class="atrLinha">
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">HT</span>
                                                        <span class="ldDir atrHt"><input type="number" min="1" max="25" onblur="return AtualizaDadosFicha(this, 'ht')"  onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /> </span>
                                                </p>

                                                <p class="atrPadrao">
                                                        <span class="ldEsq">PER</span>
                                                        <span class="ldDir atrPer"><input type="number" min="1" max="25" onblur="return AtualizaDadosFicha(this, 'per')" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /></span>
                                                </p>
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">BC</span>
                                                        <span class="ldDir atrBc"><input type="number" min="1" onblur="return AtualizaDadosFicha(this, 'bc')"  onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /> </span>
                                                </p>
                                        </div>
                                        
                                        <div class="atrLinha">
                                                <p class="atrGrande">
                                                        <span class="ldEsq">DANO</span>
                                                        <span class="ldDir atrDano"></span>
                                                </p>
                                        </div>
                                </div>
                        </div>
                </div>
                <div>
                        <h4>PERÍCIAS</h4>
                        <div class="corpoBloco">
                                <p><input type="button" class="addPericia" value="+" onclick="AdicionarPericia()"/></p>
                                <p class="novaPericia escondido">
                                        <select name="listaAtributos">
                                                <option value="st">ST</option>
                                                <option value="dx">DX</option>
                                                <option value="iq">IQ</option>
                                                <option value="per">per</option>
                                                <option value="ht">HT</option>
                                        </select>
                                        <input type="text" placeholder="Nome Perícia"/>
                                        <input type="number" min="1" max="20" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" value="1"/>
                                        <input class="" type="button" onclick="ConfirmaNovaPericia(true)" value="&#10003;"/>
                                        <input class="cancelar" type="button" onclick="ConfirmaNovaPericia()" value="&#10005;"/>
                                </p>
                                <div class="blcPericia">
                                        
                                </div>
                        </div>
                </div>
                <div>
                        <h4>TRAÇOS</h4>
                        <div class="corpoBloco"></div>
                </div>
                
                <div>
                        <h4>INVENTÁRIO</h4>
                        <div class="corpoBloco"></div>
                </div>
                <div>
                        <h4>DADOS</h4>
                        <div class="corpoBloco"></div>
                </div>
        </div>
        <div class="slotEsq2">
                <p class="setaEsq" onclick="MudaSecao('-1')">&#10094;</p>
                <p class="setaDir" onclick="MudaSecao('+1')">&#10095;</p>
                <span class="seletor selecionado" onclick="MudaSecao(0)"></span>
                <span class="seletor" onclick="MudaSecao(1)"></span>
                <span class="seletor" onclick="MudaSecao(2)"></span>
                <span class="seletor" onclick="MudaSecao(3)"></span>
                <span class="seletor" onclick="MudaSecao(4)"></span>
        </div>
        <div class="atrLinha atrRecursos">
                <p class="atrGrande">
                        <span class="ldEsq">PV</span>
                        <span class="ldDir atrPv">
                                <input type="number" min="0" onblur="return AtualizaDadosFicha(this, 'pv')"  onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)"/>
                                <span class="atrPvMax">
                                        /<input type="number" min="0" onblur="return AtualizaDadosFicha(this, 'pvmax')"  onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)"/>
                                </span>
                        </span>
                </p>

                <p class="atrGrande">
                        <span class="ldEsq">PF</span>
                        <span class="ldDir atrPf">
                                <input type="number" min="0" onblur="return AtualizaDadosFicha(this, 'pf')"  onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)"/>
                                <span class="atrPfMax">
                                        /<input type="number" min="0" onblur="return AtualizaDadosFicha(this, 'pfmax')"  onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)"/>
                                </span>
                        </span>
                </p>
        </div>
</div>