<div class="blocoPaginaInteira">
        <div class="faixaSuperiorBloco">
                <span class="botaoFecharDetalhe" data-botao="voltar" onclick="PageLoad('fichas')">
                        &#8249;
                </span>
                <img class="charMiniFoto" src="" />
                <h3>
                        <p class="nomePersonagem"></p>
                        <p class="mesaPersonagem"></p>
                </h3>
                <div class="botoesCabecalho">
                        <input type="button" onclick="ChamaEditarNome(true)" value="&#9998;"/>
                        <div class="botoesConfirmacao">
                                <input class="escondido" type="button" onclick="ConfirmaNovoNome(true)" value="&#10003;"/>
                                <input class="escondido cancelar" type="button" onclick="ConfirmaNovoNome()" value="&#10005;"/>
                        </div>
                </div>
        </div>


        <div class="slotEsq1">
                <div class="ativo">
                        <h4>ATRIBUTOS</h4>
                        <div class="corpoBloco">
                                <div class="slotAtributos">
                                        <div class="atrLinha">
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">FIS</span>
                                                        <span class="ldDir atrFis"><input type="number" min="1" max="25" onchange="return AtualizaDadosFicha(this, 'fis')" onkeyup="return AtualizaDadosFicha(this, 'fis')" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)"/></span>
                                                </p>
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">INT</span>
                                                        <span class="ldDir atrInt"><input type="number" min="1" max="25" onchange="return AtualizaDadosFicha(this, 'int')" onkeyup="return AtualizaDadosFicha(this, 'int')" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /> </span>
                                                </p>
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">VON</span>
                                                        <span class="ldDir atrVon"><input type="number" min="1" max="25" onchange="return AtualizaDadosFicha(this, 'von')" onkeyup="return AtualizaDadosFicha(this, 'von')" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /> </span>
                                                </p>
                                        </div>

                                        <div class="atrLinha">
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">COO</span>
                                                        <span class="ldDir atrCoo"><input type="number" min="1" max="25" onchange="return AtualizaDadosFicha(this, 'coo')" onkeyup="return AtualizaDadosFicha(this, 'coo')" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /> </span>
                                                </p>

                                                <p class="atrPadrao">
                                                        <span class="ldEsq">AST</span>
                                                        <span class="ldDir atrAst"><input type="number" min="1" max="25" onchange="return AtualizaDadosFicha(this, 'ast')" onkeyup="return AtualizaDadosFicha(this, 'ast')" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /></span>
                                                </p>
                                                <p class="atrPadrao">
                                                        <span class="ldEsq">PRE</span>
                                                        <span class="ldDir atrPre"><input type="number" min="1" max="25" onchange="return AtualizaDadosFicha(this, 'pre')" onkeyup="return AtualizaDadosFicha(this, 'pre')" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" /> </span>
                                                </p>
                                        </div>
                                </div>
                        </div>
                </div>
                <div>
                        <h4>COMPETÊNCIAS</h4>
                        <div class="corpoBloco">
                                <p><input type="button" class="addCompetencia" value="+" onclick="AdicionarCompetencia()"/></p>
                                <p class="novaCompetencia escondido">
                                        <select name="listaAtributos">
                                                <option value="fis">FIS</option>
                                                <option value="coo">COO</option>
                                                <option value="int">INT</option>
                                                <option value="ast">AST</option>
                                                <option value="von">VON</option>
                                                <option value="pre">PRE</option>
                                        </select>
                                        <input type="text" placeholder="Nome Competência"/>
                                        <input type="number" min="1" max="20" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)" value="1"/>
                                        <input class="" type="button" onclick="ConfirmaNovaCompetencia(true)" value="&#10003;"/>
                                        <input class="cancelar" type="button" onclick="ConfirmaNovaCompetencia()" value="&#10005;"/>
                                </p>
                                <div class="blcCompetencia">
                                        
                                </div>
                        </div>
                </div>
                <div>
                        <h4>ANOTAÇÕES</h4>
                        <div class="corpoBloco anotacoes">
                                <textarea placeholder="Informações gerais" onblur="AtualizaAnotacoes(this)"></textarea>
                        </div>
                </div>
                
                
                <div>
                        <h4>TRAÇOS</h4>
                        <div class="corpoBloco"></div>
                </div>
                <div>
                        <h4>INVENTÁRIO</h4>
                        <div class="corpoBloco"></div>
                </div>
                <div>
                        <h4>DADOS</h4>
                        <div class="corpoBloco">
                                <!-- >span class = "btnRet alerta" onclick="ResetarFichas()">Resetar dados de ficha</span -->
                        </div>
                </div>
        </div>
        <div class="slotEsq2">
                <p class="setaEsq" onclick="MudaSecao('-1')">&#10094;</p>
                <p class="setaDir" onclick="MudaSecao('+1')">&#10095;</p>
                <span class="seletor selecionado" onclick="MudaSecao(1)"></span>
                <span class="seletor" onclick="MudaSecao(2)"></span>
                <span class="seletor" onclick="MudaSecao(3)"></span>
                <span class="seletor" onclick="MudaSecao(4)"></span>
                <span class="seletor" onclick="MudaSecao(5)"></span>
                <span class="seletor" onclick="MudaSecao(6)"></span>
        </div>
        <div class="atrLinha atrRecursos">
                <p class="atrGrande">
                        <span class="ldEsq">VIT</span>
                        <span class="ldDir atrVit"><input type="number" min="0" onchange="return AtualizaDadosFicha(this, 'vit')" onkeyup="return AtualizaDadosFicha(this, 'vit')" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)"/><span class="atrVitMax"></span></span>
                </p>

                <p class="atrGrande">
                        <span class="ldEsq">RES</span>
                        <span class="ldDir atrRes"><input type="number" min="0" onchange="return AtualizaDadosFicha(this, 'res')" onkeyup="return AtualizaDadosFicha(this, 'res')" onkeydown="SoNumeros()" onfocus="MoveCursorFim(this)"/><span class="atrResMax"></span></span>
                </p>
        </div>
</div>