<div>
    <div class="blocoPagina corPrincipalFundo corBrancoPadraoConteudo">
        <div class="slotTextos">
            <h3 class="destaqueTexto1">Novos Protetores</h3>
            <p>Você faz parte da tropas que foi enviada para proteger o quadrante 5-MD após o falecimento do guardião anterior, Chico.</p>
            <br>
            <p><b>Mestre:</b> Rafael</p>
            <br>
            <p class="destaqueTexto1">Código: <b>AJE051</b></p>
        </div>
    </div>
</div>