@media screen and (min-width: 220px)
{
    body, body *
    {
        font-family: 'Tahoma', 'Segoe UI', 'Geneva', 'Verdana', sans-serif;
        font-size: 12pt;
        box-sizing: border-box;
        list-style: none;
        margin:0;
        padding:0;
        transition: scroll, 0.4s;
        -moz-transition: scroll, 0.4s;
        text-decoration: none;
        color: #eee;
    }

    body
    {
        background:#9cf;
        overflow: hidden;
    }

   

    #slotMenu
    {
        position:fixed;
        width:100%;
        max-height: 14rem;
        height: 2.8rem;
        bottom:0;
        text-align:center;
        overflow: hidden;
        background:#eee;
        color:#eee;
        transition: height, 0.6s;
        z-index: 9;
    }

    #slotMenu:hover
    {
        /*height:100%;*/
    }

    #slotMenu:hover p sup
    {
        /*transform: rotateX(180deg);*/
    }

    #slotMenu p
    {
        background: #147;
        height: 2.8rem;
        padding: 0;
        overflow:hidden;
        transition: transform, 0.4s;
    }

    #slotMenu p sup
    {
        position:absolute;
        width:100%;
        top:0;
        left:0;
        font-size:195%;
        transition: transform, 0.4s;
    }

    #menu
    {
        padding-top:0.2rem;
        text-align:center;
        z-index: 9;
        user-select: none;
        -moz-user-select: none;
    }

    #menu li
    {
        width:80%;
        margin: 1% 0 0 10%;
        padding: 0.5rem 0;
        background: #258;
        border: 0.1rem solid #47a;
        cursor:pointer;
        text-transform: uppercase;
    }

    #cPrincipal
    {
        position: absolute;
        width:100%;
        height:96%;
        top: 0;
        left: 0;
        border: 0px solid #0ff;
        overflow: auto;
        transition: all, 0.4s;
        z-index:5;
        padding-bottom: 0.5rem;
    }

    .blocoPagina
    {
        width: 96%;
        height:auto;
        min-height: 40%;
        margin: 11% 0 10% 2%;
        padding: 0;
        background: #eee;
        color: #369;
        border:0px solid #ff0;
    }

    .blocoPagina * 
    {
        color: #369;
        font-size: 12pt;
    }

    .blocoPagina h1
    {
        background: #369;
        color: #eee;
        padding: 0.5rem;
        text-align:center;
        font-size: 16pt;
    }

    .blocoPagina>div
    {
        padding: 0.4rem 0.2rem;
        border: 0 solid #940;
    }

    .listaCirculo
    {
        padding: 1rem;
    }

    .listaCirculo li
    {
        list-style: initial;
        padding-top: 0.5rem;
    }
}

@media screen and (min-width: 950px)
{
    #slotMenu
    {
        position:fixed;
        width:100%;
        max-height: 3rem;
        height: 100%;
        top:0;
        text-align:right;
        overflow: hidden;
        background:#147;
        color:#eee;
        transition: height, 0.6s;
        z-index: 9;
        border: 0px solid #ff0;
    }

    #slotMenu>p
    {
        position:absolute;
        font-size:16pt;
        height:3rem;
        padding: 0.7rem 2.5rem;
        cursor:pointer;
        border: 0px solid #0f0;
        z-index:10;
        user-select: none;
        -moz-user-select: none;
    }

    #slotMenu>p:hover
    {
        background:#036;
    }

    #menu
    {
        position:absolute;
        right:10%;
        bottom: 0.4rem;
        width:100%;
        border: 0px solid #0f0;
        text-align: right;
        cursor:default;
    }

    #menu li
    {
        padding: 0.4rem;
        display: inline;
        background: #147;
        border: 0px solid #0ff;
        margin:0;
        text-transform: capitalize;
        transition:all 0.3s;
    }

    #menu li:hover
    {
        background:#036;
        padding: 0.4rem 0.4rem 1rem 0.4rem;
    }

    #cPrincipal
    {
        position: absolute;
        width:100%;
        height:100%;
        top: 0;
        left: 0;
        border: 0px solid #0ff;
        overflow: auto;
        transition: all, 0.4s;
        z-index:5;
        padding-bottom: 0.5rem;
    }

    .blocoPagina
    {
        width: 60%;
        height:auto;
        min-height: 50%;
        margin: 5% 0 1% 20%;
        padding: 0;
        background: #eee;
        color: #369;
        border:0px solid #ff0;
        box-shadow: 0 0.3rem 0.5rem #666;
    }

    .blocoPagina p
    {
        font-size:14pt;
    }

    .blocoPagina div
    {
        padding: 0.8rem 0.5rem;
    }
}