<h1>Atuação</h1>
<div>
    <p>Com serviços de qualidade e acessíveis, nós atuamos em residências particulares ou coletivas, fornecendo serviços nas seguintes áreas:</p>
    <br>
    <ul class="listaCirculo">
        <li>Enfermagem</li>
        <li>Psicologia</li>
        <li>Psicanálise</li>
        <li>Terapia ocupacional</li>
        <li>Assistência social</li>
    </ul>
</div>