#jquery-msg-bg{
	background: #000;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}

#jquery-msg-content{
	padding: 40px 60px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	
}